<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css">
<title>BATTLESHIP</title>
</head>
<body>
<h1>PLACE YOUR SHIPS</h1>
<% let y = 0 %>
<table>
    <tr>
    <% alpha.forEach((x) => { %>
      <% if (alpha.indexOf(x) < board.length) { %>
          <td><%=x%></td>
      <% } %>
    <% }); %>
    </tr>
  <% for (let row of board) { %>
    <tr class='row'>
    <% let x = 1 %>
    <td><%=y + 1%></td>
    <% for (let e of row) { %>
      <td class='grid'>
      <form action='/place/<%=alpha[y]%><%=x%>' method='POST'>
      <input class='ship, <%=e%>' type='submit' value='<%=e%>'>
      </form>
      </td>
      <% x++ %>
    <% } %>
    </tr>
    <% y++ %>
  <% } %>
</table>
  <form class='chship' action='/type/battleship' method='POST'>
  <input class='butt' type='submit' value='battleship'>
  </form>
  <form class='chship' action='/type/carrier' method='POST'>
  <input class='butt' type='submit' value='carrier'>
  </form>
  <form class='chship' action='/type/cruiser' method='POST'>
  <input class='butt' type='submit' value='cruiser'>
  </form>
  <form class='chship' action='/type/submarine' method='POST'>
  <input class='butt' type='submit' value='submarine'>
  </form>
  <form class='chship' action='/type/destroyer' method='POST'>
  <input class='butt' type='submit' value='destroyer'>
  </form>
  <div>
    <form class='orient' action='/orient' method='POST'>
    <input class='butt' type='submit' value='<%=status%>'>
    </form>
  </div>
</body>
</html>